body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  background-color: black;
  color: lightblue;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    
  }


  img {
    width: 100%;
    border-radius: 30%;
  }






.search {
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 55px;
  border-radius: 45%;
  color: black; 
}


  footer {
    text-align: end;
  }

  .my-select-class {
    background-color: lightblue;
    color: #1a1a1a;
    border-radius: 40%;
    margin: 10px;
    position: fixed;
    margin-right: 300px;
    right: 0;

  }